*,
*::before,
*::after {
  box-sizing: border-box;
}

/* add grid layout to the gallery page -to have more responsive layout */

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  display: grid;

  min-height: 100vh;

  grid-template-areas:
    "nav "
    "head"
    "main"
    "footer";

  grid-template-rows: 100px auto 1fr auto;
  grid-template-columns: 100%;
}

nav {
  grid-area: nav;
}

header {
  grid-area: head;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.contact-section {
  /* add space between gridcontainer and contact-section */
  padding-top: 80px;
}
/* Header css - START */

.text {
  text-align: center;
  padding: 20px;
  line-height: 1;
}

.text h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  color: #14f25d;
}

.text h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  color: #20424b;
}

.text p {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #20424b;
}

/* Header css - START */

/* Main Section 1 -START */
.gridContainer {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Row 1 */
.elementOne {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* Row 2 */
.elementTwo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Row 3 */
.elementThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
/* Row 4 */
.elementFour {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* Row 5 */
.elementFive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Row 6 */
.elementSix {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Image container - ADD transition /transform to gallery */
.imgBox {
  overflow: hidden;
  border-radius: 12px;
}

.gridContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  border: 1px solid #14f25d;
  transition: transform 0.4s ease;
}

/* Hover effect */
.imgBox:hover img {
  transform: scale(1.15);
}

/* Fade-In Animation */

.imgBox {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Main Section 1 -END */
