*,
*::before,
*::after {
  box-sizing: border-box;
}

/* add grid layout to the gallery page -to have more responsive layout */

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  display: grid;

  height: 100vh;

  grid-template-areas:
    "nav "
    "head"
    "main"
    "footer";

  grid-template-rows: 100px auto 1fr auto;
  grid-template-columns: 100%;
}

nav {
  grid-area: nav;
}

header {
  grid-area: head;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
