*,
*::before,
*::after {
  box-sizing: border-box;
}

/* add grid layout to the gallery page -to have more responsive layout */

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  display: grid;

  height: 100vh;

  grid-template-areas:
    "nav "
    "head"
    "main"
    "footer";

  grid-template-rows: 100px auto 1fr auto;
  grid-template-columns: 100%;
}

nav {
  grid-area: nav;
}

header {
  grid-area: head;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Header css - START */

.text {
  text-align: center;
  padding: 20px;
  line-height: 0.5;
}

.text h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  color: #14f25d;
}

.text h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  color: #20424b;
}

.text p {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #20424b;
}

/* Header css - START */
