/* ==============================
    BASE SETUP
   ============================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ============================
    BASE STYLES
   ============================ */

body {
    min-height: 100vh;
}

/* ==============================
    MENU PAGE - MAIN LAYOUT
   ============================== */

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    background-color: #FFFFFF;
}

/* ==============================
    MENU PAGE - HERO SECTION
   ============================== */

.menu-page__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    width: 100%;
    min-height: 210px;
}

/* ==============================
    HERO SECTION - TITLE
   ============================== */

.menu-page__heading {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 96px;
    font-weight: 500;
    line-height: 96px;
    color: #3A2F2A;
}

/* ==============================
    DECORATIVE DIVIDER
   ============================== */

.menu-page__divider {
    display: inline-flex;
    align-items: center;
}

.menu-page__line {
    margin: 0;
    width: 120px;
    border-top: 1px solid #14F25D;
}

.fa-solid.fa-circle.fa-sm {
    color:  #14F25D;
    margin-left: 16px;
    margin-right: 16px;
}

/* ==============================
    HERO SECTION - TEXT CONTENT
   ============================== */

.menu-page__tagline {
    margin-top: 32px;
    margin-bottom: 0;
    color: #2B2B2B;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.menu-page__intro {
    margin-top: 18px;
    margin-bottom: 64px;
    color: #2B2B2B;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}