/* navigation bar - START*/
.primary-nav {
  display: flex;
  justify-content: space-between; /*left group on left, right group on right  */
  align-items: center;
  padding: 0px 20px;
}

.nav-left,     /*left & right sides*/
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-top: -40px; /*  reduce big space on the top of nav due to the logo */
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0.02rem;
  color: #20424b;
}

.nav-links li {
  padding: 0px 10px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}

.nav-btn {
  display: flex;
  margin-left: 20px;
}

.nav-left img {
  max-width: 180px;
  height: auto;
  min-height: unset;
}

.nav-links li a:hover {
  background-color: #14f25d;
}
/* navigation bar - END*/

/* popup css  - START*/
.table-btn {
  align-self: center;
  background-color: #20424b;
  letter-spacing: 0.02rem;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 184px;
  border-radius: 4px;

  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.table-btn:hover {
  color: #14f25d;
}

.popup {
  flex: 1;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  z-index: 10;
}

.popup:target {
  display: block;
}

.popup-content {
  position: relative;
  background-color: #14f25d;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
  border-radius: 0px;
}

.popup-content h2 {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #20424b;
}

.popup-content form div {
  padding: 20px;
  display: block;
}

.popup-content form {
  padding: 10px;
}

.popup-content form label {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #20424b;
}

.popup-content form input,
.popup-content form select {
  width: 100%;
  min-height: 40px;
  padding: 12px;
  border: none;
}

.booknow-btn {
  display: inline-block;
  margin-top: 35px;
  background: black;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 4px;

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.booknow-btn:hover {
  color: #14f25d;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-btn img {
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
}

.close-btn:hover img {
  content: url("/Images/clsoe\ red.svg");
}
/* popup css  - END */

/* thankyou message css - START */
.thank-message {
  display: block;
  padding: 50px;
  text-align: center;
  margin: 100px;
  background: #20424b;
}

.thank-message h1 {
  font-size: 60px;
  font-weight: 400px;
  font-style: normal;
  color: #14f25d;
}

.thank-message p {
  font-size: 20px;
  font-weight: 400px;
  font-style: normal;
  color: #14f25d;
}

.message_close-btn {
  display: inline-block;
  margin-top: 10px;
  background: #f44336;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border-radius: 4px;

  width: 150px;
}

.message_close-btn:hover {
  color: #14f25d;
}
/* thankyou message css - END */

/* Contact us section - START */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: stretch;
}

.contact-container div {
  text-align: left;
}

.contact-form {
  margin-left: 47px;
}

.contact-form h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #20424b;
}

.contact-form input {
  width: 100%;
  min-height: 64px;
  padding: 12px;
  margin: 10px 0;
  border: 3px solid #14f25d;
  border-radius: 4px;
}

.submitNow {
  max-width: 193px;
  width: 100%;
  min-height: 50px;
  background-color: #20424b;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: block;
  margin: 25px auto;
}

.submitNow:hover {
  background-color: #14f25d;
  color: #20424b;
}

iframe {
  border-radius: 1em;
  border: none;
  width: 670px;
  height: 500px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.95;
}

iframe:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Contact us section - END */
